@media (min-width: 300px) {
  .Warn {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .Warn {
    width: 50%;
    transform: translateX(50%) translateY(25%);
  }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
